<head>
    <link rel="stylesheet" href="/css/jobUsers.css">
</head>
<div class="conteiner1">
    <h3>Usuarios cadastrados</h3>
</div>
{{#if vaga}}
{{#each vaga}}
<div class="vagas">
        <h4>{{userId.name}}</h4>
    <ul>
        <li>{{userId.email}}</li>
        <li>{{userId.city}}</li>
        <li>Link Linkedin: {{userId.linkedinurl}}</li><br>
        <li>Link Github: {{userId.githuburl}}</li>
    </ul>
    <p>This website is not for real.</p>
        <hr>
</div>
{{/each}}

<section class="pagination"> 
    {{#if ask1}}
    <a href="/jobs/?page=1">1</a>
    {{/if}}
    <a href="/jobs/?page={{currentPage}}" class="active">{{currentPage}}</a>
    {{#if ask2}}
    <a href="/jobs/?page={{nextPage}}">{{nextPage}}</a>
    {{/if}}
    {{#if ask3}}
    <a href="/jobs/?page={{lastPage}}">{{lastPage}}</a>
    {{/if}}
</section>

{{else}}

<div class="not_found">
<h2>Nenhum usuario encontrado</h2>
</div>
{{/if}}

{{>end}}